<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("e9717e6f-c7d1-426b-a17e-ca40eb3afcb4");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
