<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("5330f887-6611-4adc-83ad-a977a7ce3032");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
